<template>
  <div class="stake-wrapper" v-if="stakeToken">
    <section class="exchange">
      <div class="input-block">
        <label for="main">{{ fromToken.name }}</label>
        <input
          type="number"
          placeholder="How much you pay"
          name="main"
          id="main"
          min="0"
          v-model="fromAmount"
          @input="countAmounts()"
        />
      </div>

      <div class="exchange-wrapper">
        <img
          src="@/assets/images/exchange.png"
          class="exchange-button"
          @click="toggleButton"
        />
      </div>
      <div class="input-block">
        <label for="stake">{{ toToken.name }}</label>
        <input
          type="number"
          placeholder="How much you get"
          name="stake"
          id="stake"
          v-model="toAmount"
          disabled
        />
      </div>
      <CommonButton
        :title="buttonTitle"
        type="primary"
        style="margin-top: 2rem"
        @click="actionHandler"
        :disabled="fromAmount <= 0 || (endOfDelay && buttonTitle != 'Stake')"
      />
    </section>

    <section class="tokens-info">
      <div class="token-info">
        <div class="title">
          <img :src="mainToken.icon" class="logo" />
          <h2 class="name">{{ mainToken.name }}</h2>
        </div>
        <ul class="fields">
          <li>Balance: {{ mainToken.balance }}</li>
          <li>Price: {{ mainToken.price }} $</li>
        </ul>
      </div>
      <div class="token-info">
        <div class="title">
          <img :src="stakeToken.icon" class="logo" />
          <h2 class="name">{{ stakeToken.name }}</h2>
        </div>
        <ul class="fields">
          <li>Balance: {{ stakeToken.balance }}</li>
          <li>Price: {{ stakeToken.price }} $</li>
          <li>Allowance: {{ stakeToken.allowance }}</li>
        </ul>
      </div>

      <p><strong>Rate</strong>: {{ tokenRate }}</p>
    </section>
  </div>
</template>
<script>
import { createStake } from "@/helpers/createStake";
import { getTokensRate, getTokenPriceByAddress } from "@/helpers/tokenPrice";
import { ethers } from "ethers";
import { markRaw } from "vue";
import { mapGetters, mapActions, mapMutations } from "vuex";
import { stakeConfig } from "@/utils/config/stakeConfig";
import moment from "moment";
import stakeMixin from "@/mixins/stake";
export default {
  name: "StakeSPELL",
  mixins: [stakeMixin],
  data() {
    return {
      unstakeDelayInterval: null,
      countDown: {
        hours: null,
        minutes: null,
        seconds: null,
      },
    };
  },
  computed: {
    ...mapGetters({
      endOfDelay: "getEndOfDelay",
    }),
  },
  watch: {
    endOfDelay() {
      this.unstakeCountDown();
    },
  },
  methods: {
    ...mapActions({ initCountDown: "initCountDown" }),
    ...mapMutations({ setEndOfDelay: "setEndOfDelay" }),
    async createLocal() {
      if (this.chainId == 1 && this.account) {
        const stakeInfo = await createStake(
          this.signer,
          this.account,
          stakeConfig.spell
        );

        this.tokenRate = await getTokensRate(
          stakeInfo.mainToken.contract,
          stakeInfo.stakeToken.contract,
          stakeInfo.stakeToken.adress
        );
        stakeInfo.mainToken.price = await getTokenPriceByAddress(
          this.chainId,
          stakeInfo.mainToken.adress
        );
        stakeInfo.stakeToken.price = (
          stakeInfo.mainToken.price * this.tokenRate
        ).toFixed(4);

        this.mainToken = markRaw(stakeInfo.mainToken);
        this.stakeToken = markRaw(stakeInfo.stakeToken);
      }
    },
    approve() {
      alert("Aprove");
      this.mainToken.contract.approve(
        this.stakeToken.adress,
        "0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff",
        { gasLimit: 5000000 }
      );
      window.location.reload();
    },
    async stake() {
      const amount = ethers.utils.parseEther(this.fromAmount.toString());

      const estimateGas = await this.stakeToken.contract.estimateGas.mint(
        amount
      );

      const gasLimit = 1000 + +estimateGas.toString();

      const stakeResult = await this.stakeToken.contract.mint(
        amount.toString(),
        {
          gasLimit,
        }
      );

      const receipt = await stakeResult.wait();
      console.log(receipt);
      this.initCountDown();
      window.location.reload();
    },
    async unstake() {
      const amount = ethers.utils.parseEther(this.fromAmount.toString());

      const estimateGas = await this.stakeToken.contract.estimateGas.mint(
        amount
      );
      const gasLimit = 1000 + +estimateGas.toString();

      const stakeResult = await this.stakeToken.contract.burn(
        this.account,
        amount.toString(),
        {
          gasLimit,
        }
      );

      const receipt = await stakeResult.wait();
      console.log(receipt);
      window.location.reload();
    },
    unstakeCountDown() {
      const finishDate = new Date(this.endOfDelay);
      this.unstakeDelayInterval = setInterval(() => {
        const currentDate = new Date();
        if (currentDate != finishDate) {
          const countDown = finishDate.getTime() - currentDate.getTime();
          const tempTime = moment.duration(countDown);
          this.countDown = {
            ...this.countDown,
            hours: tempTime.hours(),
            minutes: tempTime.minutes(),
            seconds: tempTime.seconds(),
          };
        } else {
          localStorage.removeItem("END_OF_DELAY");
          this.setEndOfDelay(0);
          clearInterval(this.unstakeDelayInterval);
        }
      }, 1000);
    },
  },
  mounted() {
    this.createLocal();
    const endOfDelay = localStorage.getItem("END_OF_DELAY");
    if (endOfDelay) {
      this.setEndOfDelay(+endOfDelay);
      this.unstakeCountDown();
    }
  },
  beforeUnmount() {
    clearInterval(this.updateInterval);
    clearInterval(this.unstakeDelayInterval);
  },
};
</script>
<style scoped>
.stake-wrapper {
  min-height: 50vh;
}

section {
  display: flex;
  flex-direction: column;
  width: 76%;
  margin: auto;
  margin-top: 7rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

.input-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  padding: 0.75rem;
  border: 1px solid rgba(128, 128, 128, 0.369);
  border-radius: 8px;
  color: inherit;
}

.exchange-wrapper {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.exchange-button {
  cursor: pointer;
  transition: all 0.5s;
}

.exchange-button:hover {
  opacity: 0.7;
}

.tokens-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 2rem;
}
</style>
