<template>
  <div class="join action-container">
    <Loader />
    <div class="header">
      <h2>Deposit</h2>
      <p class="header-link" @click="$emit('selectAction', 'settings')">
        Settings
      </p>
    </div>
    <div class="token-inputs">
      <div
        class="input-group"
        v-for="token in tokensToJoin"
        :key="token.symbol"
      >
        <div class="token-logo">
          <img :src="token.icon" class="token-icon" />
          <p>{{ token.name }}</p>
        </div>
        <input type="number" placeholder="0.00" />
        <button class="max-button">Max</button>
      </div>
    </div>
    <div class="use-weth">
      <input type="checkbox" name="useweth" id="useweth" />
      <label for="useweth">Use WETH</label>
    </div>
    <CommonButton title="Open Position" type="secondary" disabled />
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import commonMixin from "@/mixins/common";

export default {
  name: "JoinAction",
  mixins: [commonMixin],
  props: {
    currentPool: Object,
    isChecked: Object,
  },
  emits: ["selectAction"],
  computed: {
    tokensToJoin() {
      if (!this.isChecked.token0) {
        return [this.currentPool.token1];
      } else if (!this.isChecked.token1) {
        return [this.currentPool.token0];
      } else return [this.currentPool.token0, this.currentPool.token1];
    },
    isDefaultToken() {
      return (
        this.currentPool?.token0?.canBeDefault ||
        this.currentPool?.token1?.canBeDefault
      );
    },
  },
  components: {
    CommonButton: defineAsyncComponent(() =>
      import("@/components/common/CommonButton.vue")
    ),
  },
};
</script>

<style scoped>
.action-container {
  margin: 2rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1rem;
}

.header-link {
  cursor: pointer;
  color: blue;
  font-weight: 700;
  transition: all 0.5s;
}

.header-link:hover {
  opacity: 0.7;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.75rem;
  margin: 0.5rem auto;
  padding: 2rem;
  background-color: rgba(197, 193, 193, 0.24);
  border-radius: 12px;
}

.token-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.token-icon {
  width: 3rem;
}

.input-group input {
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgb(60, 58, 58);
  color: white;
  font-weight: 700;
}
</style>
