<template>
  <div class="select action-container">
    <h2>Select Assets to Deposit</h2>
    <div class="selector">
      <div
        class="token-check"
        :class="{ checked: isChecked.token0 }"
        @click="toggleToken0"
      >
        <img
          src="@/assets/images/checked.svg"
          class="check"
          v-if="isChecked.token0"
        />
        <img :src="currentPool.token0.icon" :alt="currentPool.token0.name" />
      </div>

      <div
        class="token-check"
        :class="{ checked: isChecked.token1 }"
        @click="toggleToken1"
      >
        <img
          src="@/assets/images/checked.svg"
          class="check"
          v-if="isChecked.token1"
        />
        <img :src="currentPool.token1.icon" :alt="currentPool.token1.name" />
      </div>
    </div>

    <div class="buttons">
      <CommonButton title="Other" type="primary" />
      <CommonButton
        title="Next"
        type="secondary"
        @click="$emit('selectAction', 'join')"
        :disabled="!nextIsAvailable"
      />
    </div>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";

export default {
  name: "SelectAction",
  props: {
    currentPool: Object,
  },
  emits: ["selectAction", "enableJoin"],
  data() {
    return {
      isChecked: {
        token0: false,
        token1: false,
      },
    };
  },
  computed: {
    nextIsAvailable() {
      return this.isChecked.token0 || this.isChecked.token1 ? true : false;
    },
  },
  watch: {
    nextIsAvailable() {
      this.$emit("enableJoin", this.isChecked);
    },
  },
  methods: {
    toggleToken0() {
      this.isChecked.token0 = !this.isChecked.token0;
    },
    toggleToken1() {
      this.isChecked.token1 = !this.isChecked.token1;
    },
  },
  mounted() {
    if (!this.nextIsAvailable) this.$emit("enableJoin", false);
  },
  components: {
    CommonButton: defineAsyncComponent(() =>
      import("@/components/common/CommonButton.vue")
    ),
  },
};
</script>

<style scoped>
.action-container {
  margin: 2rem auto;
}

.selector {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem auto;
  padding: 1rem;
  background-color: rgba(197, 193, 193, 0.24);
  border-radius: 12px;
}

.token-check {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border: 2px solid transparent;
  border-radius: 12px;
  transition: all 0.5s;
}

.token-check:hover:not(.checked) {
  border-color: rgba(42, 41, 41, 0.383);
}

.checked {
  border-color: rgb(42, 41, 41);
}

.check {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
</style>
