<template>
    <div class="settings">
        <div class="header">
            <h2>Settings</h2>
            <p class="header-link" @click="$emit('selectAction', prevAction)">Back</p>
        </div>

        <div class="options-wrapper">
            <p>Slippage tolerance</p>
            <ul class="options">
                <li class="option-wrapper">
                    0.1%
                </li>
                <li class="option-wrapper">
                    0.5%
                </li>
                <li class="option-wrapper">
                    1%
                </li>
                <li class="option-wrapper">
                    <input type="number" placeholder="custom">
                </li>
            </ul>
        </div>

        <div class="options-wrapper">
            <p>Transaction speed</p>
            <ul class="options">
                <li class="option-wrapper">
                    Slow
                </li>
                <li class="option-wrapper">
                    Medium
                </li>
                <li class="option-wrapper">
                    Fast
                </li>
            </ul>
        </div>
        <CommonButton title="Save" type="primary" />
    </div>
</template>
  
<script lang="js">
import { defineAsyncComponent } from 'vue';

export default ({
    props: {
        prevAction: String
    },
    emits: ['selectAction'],
    data() {
        return {}
    },
    components: {
        CommonButton: defineAsyncComponent(() => import("@/components/common/CommonButton.vue"))
    }
})
</script>
  
<style scoped>
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem;
}

.header-link {
    cursor: pointer;
    color: blue;
    font-weight: 700;
    transition: all 0.5s;
}

.header-link:hover {
    opacity: 0.7;
}

.options {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.option-wrapper {
    cursor: pointer;
    min-width: 15%;
    padding: 0.75rem 1rem;
    background-color: rgba(197, 193, 193, 0.24);
    border: 1px solid transparent;
    border-radius: 12px;
    transition: all 0.3s;
}

.option-wrapper:hover {
    opacity: 0.7;
}

.option-wrapper input {
    background-color: transparent;
    text-align: center;
    width: 4rem;
}
</style>

  