<template>
  <div class="zap action-container">
    <div class="header">
      <h2>Deposit</h2>
      <p class="header-link" @click="$emit('selectAction', 'settings')">
        Settings
      </p>
    </div>
    <div class="input-group">
      <div class="token-logo">
        <img :src="currentPool.token0.icon" class="token-icon" />
        <p>{{ currentPool.token0.name }}</p>
      </div>
      <input type="number" placeholder="0.00" />
      <button class="max-button">Max</button>
    </div>
    <div class="received-wrapper">
      <p>Received</p>
      <div class="input-group">
        <div class="token-logo">
          <img :src="currentPool.token1.icon" class="token-icon" />
          <p>{{ currentPool.token0.name }}</p>
        </div>
        <input type="number" placeholder="0" disabled />
      </div>
      <ul class="received-info">
        <li>
          <span class="title">Lorem ipsum dolor sit amet.</span
          ><span class="amount">0</span>
        </li>
        <li>
          <span class="title">Lorem ipsum dolor sit amet.</span
          ><span class="amount">0</span>
        </li>
        <li>
          <span class="title">Lorem ipsum dolor sit amet.</span
          ><span class="amount">0</span>
        </li>
      </ul>
    </div>
    <CommonButton
      title="Join"
      type="secondary"
      disabled
      style="margin-top: 1rem"
    />
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";

export default {
  name: "ZapAction",
  props: {
    currentPool: Object,
  },
  emits: ["selectAction"],
  components: {
    CommonButton: defineAsyncComponent(() =>
      import("@/components/common/CommonButton.vue")
    ),
  },
};
</script>

<style scoped>
.action-container {
  margin: 2rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1rem;
}

.header-link {
  cursor: pointer;
  color: blue;
  font-weight: 700;
  transition: all 0.5s;
}

.header-link:hover {
  opacity: 0.7;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.75rem;
  margin: 0.5rem auto;
  padding: 2rem;
  background-color: rgba(197, 193, 193, 0.24);
  border-radius: 12px;
}

.token-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.token-icon {
  width: 3rem;
}

.input-group input {
  text-align: center;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgb(60, 58, 58);
  color: white;
  font-weight: 700;
}

.received-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: rgba(197, 193, 193, 0.24);
  border-radius: 12px;
}

.received-info li {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
}
</style>
