<template>
  <div class="pool" v-if="currentPool">
    <section class="actions">
      <ul class="tabs">
        <li>
          <CommonButton
            title="Select"
            type="secondary"
            @click="() => selectAction('select')"
          />
        </li>
        <li>
          <CommonButton
            title="Join"
            type="secondary"
            @click="() => selectAction('join')"
            :disabled="!joinIsEnabled"
          />
        </li>
        <li>
          <CommonButton
            title="Zap"
            type="secondary"
            @click="() => selectAction('zap')"
          />
        </li>
      </ul>

      <SelectAction
        :currentPool="currentPool"
        @selectAction="selectAction"
        @enableJoin="enableJoin"
        v-if="chosenAction == 'select'"
      />
      <JoinAction
        :currentPool="currentPool"
        :isChecked="isChecked"
        @selectAction="selectAction"
        v-if="chosenAction == 'join'"
      />
      <ZapAction
        :currentPool="currentPool"
        @selectAction="selectAction"
        v-if="chosenAction == 'zap'"
      />
      <SettingsAction
        :prevAction="prevAction"
        @selectAction="selectAction"
        v-if="chosenAction == 'settings'"
      />
    </section>

    <section class="info">
      <h2 class="info-title">Pool info</h2>
      <ul class="indicators">
        <li class="indicator">
          <span class="indicator-name"
            >Price {{ currentPool.token0.symbol }}</span
          >
          <span class="indicator-value">{{ currentPool.token0.price }}</span>
        </li>
        <li class="indicator">
          <span class="indicator-name"
            >Price {{ currentPool.token1.symbol }}</span
          >
          <span class="indicator-value">{{ currentPool.token1.price }}</span>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import store from "@/store";

export default {
  name: "PoolW3",
  data() {
    return {
      chosenAction: "select",
      prevAction: null,
      isChecked: null,
    };
  },
  computed: {
    currentPoolId() {
      return this.$route.params.id;
    },
    currentPool() {
      return store.getters.getPoolById(this.currentPoolId);
    },
    joinIsEnabled() {
      if (!this.isChecked) return false;
      return this.isChecked.token0 || this.isChecked.token1 ? true : false;
    },
  },
  methods: {
    selectAction(actionName) {
      this.prevAction = this.chosenAction;
      this.chosenAction = actionName;
    },
    enableJoin(checkedTokens) {
      this.isChecked = checkedTokens;
    },
  },
  components: {
    CommonButton: defineAsyncComponent(() =>
      import("@/components/common/CommonButton.vue")
    ),
    SelectAction: defineAsyncComponent(() =>
      import("@/components/crypto/poolActions/SelectAction.vue")
    ),
    ZapAction: defineAsyncComponent(() =>
      import("@/components/crypto/poolActions/ZapAction.vue")
    ),
    JoinAction: defineAsyncComponent(() =>
      import("@/components/crypto/poolActions/JoinAction.vue")
    ),
    SettingsAction: defineAsyncComponent(() =>
      import("@/components/crypto/poolActions/SettingsAction.vue")
    ),
  },
};
</script>

<style scoped>
.pool {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 76%;
  margin: auto;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-container {
  margin: 2rem auto;
}
.info {
  width: 40%;
}

.indicator {
  display: flex;
  justify-content: space-between;
}
</style>
