<template>
  <div class="container">
    <h1>W3Optomizer pools</h1>
    <section class="pools-wrapper">
      <h2>Cards</h2>
      <div class="pool-cards" v-if="cardsInfo">
        <PoolCard
          v-for="cardInfo in cardsInfo"
          :key="cardInfo.id"
          :cardInfo="cardInfo"
        />
      </div>
    </section>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import { mapGetters } from "vuex";
import { createOptimizerV3CardsData } from "@/helpers/pool/createOptimizerV3CardsData";
import { createOptimizerV3PoolsData } from "@/helpers/pool/createOptimizerV3PoolsData";
import commonMixin from "@/mixins/common";

export default {
  name: "W3OptimizerPools",
  mixins: [commonMixin],
  computed: {
    ...mapGetters({
      cardsInfo: "getOptimizerPoolCardsInfo",
    }),
  },
  watch: {
    async chainId() {
      await createOptimizerV3PoolsData(this.chainId, this.signer);
      await createOptimizerV3CardsData(this.chainId, this.signer);
    },
  },
  created() {
    createOptimizerV3PoolsData(this.chainId, this.signer);
    createOptimizerV3CardsData(this.chainId, this.signer);
  },
  components: {
    PoolCard: defineAsyncComponent(() =>
      import("@/components/crypto/PoolCard.vue")
    ),
  },
};
</script>

<style>
.container {
  width: 60%;
  margin: auto;
  padding: 1rem;
}

.pools-wrapper {
  text-align: start;
}

.pool-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.card {
  margin: auto;
}
</style>
