<template>
  <footer class="footer">
    <div class="container">
      <section class="footer-columns">
        <div class="footer-slogan">
          <router-link :to="{ name: 'main' }">
            <img src="@/assets/images/logo.svg" alt="" class="logo" />
          </router-link>
          <h2>The New Creative<br />Economy.</h2>
        </div>
        <div class="footer-functions">
          <ul>
            <li>Crypter.</li>
            <li>
              <router-link :to="{ name: 'main' }">Discover</router-link>
            </li>
            <li v-if="!account" @click="connectWallet" style="cursor: pointer">
              Connect wallet
            </li>
          </ul>
        </div>
      </section>

      <section class="footer-bottom">
        <p>Copyright © 2021 UI8 LLC. All rights reserved</p>
        <p>We use cookies for better service.</p>
      </section>
    </div>
  </footer>
</template>
<script>
import { onConnect } from "@/helpers/connectWallet";
import { mapGetters } from "vuex";
export default {
  name: "TheFooter",
  computed: {
    ...mapGetters({
      account: "getAccount",
    }),
  },
  methods: {
    connectWallet() {
      onConnect();
      window.scrollTo({ top: 0, behavior: "smooth" });
    },
  },
};
</script>

<style scoped>
.footer {
  border-top: 1px solid rgb(230, 232, 236);
}
.container {
  width: 76%;
  margin: auto;
}

.footer-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 5rem;
}

.footer-slogan h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  letter-spacing: -0.01em;
  color: #23262f;
}

.logo {
  margin: -1.5rem 0 0 -4rem;
}

.footer-functions ul li:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(35, 38, 47);
  margin-top: 0;
}

.footer-functions ul li {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgb(119, 126, 145);
  margin-top: 1.5rem;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid rgb(230, 232, 236);

  font-size: 0.75rem;
  color: rgb(119, 126, 144);
}
</style>
