<template>
  <header class="header">
    <div class="header-content">
      <div class="nav header-section">
        <router-link :to="{ name: 'main' }">
          <img src="@/assets/images/logo.svg" alt="" class="logo" />
        </router-link>
        <router-link :to="{ name: 'dashboard' }" v-if="account"
          >Dashboard</router-link
        >
        <StakeDropdown style="padding: 0.5rem 0 0.5rem 2rem" />
        <router-link :to="{ name: 'w3optimizer' }">OptimizerW3</router-link>
        <router-link :to="{ name: 'abracadabra' }">Abracadabra</router-link>
      </div>
      <div class="functional header-section">
        <CommonButton title="Upload" type="primary" />
        <CommonButton
          :title="'Connect'"
          type="secondary"
          style="margin-left: 0.75rem"
          @click="connectWallet"
          v-if="!account"
        />
        <ConnectDropdown
          :account="account"
          type="disconnect"
          style="margin-left: 0.75rem"
          @disconnect="disconnectWallet"
          v-if="account"
        />
      </div>
    </div>
  </header>
</template>

<script>
import { defineAsyncComponent } from "vue";
import { onConnect, resetApp } from "@/helpers/connectWallet";
import commonMixin from "@/mixins/common";

export default {
  name: "TheHeader",
  mixins: [commonMixin],
  data() {
    return {
      balance: 0,
    };
  },
  methods: {
    connectWallet() {
      onConnect();
    },
    disconnectWallet() {
      localStorage.setItem("metamaskIsConnected", false);
      resetApp();
    },
    async getBalance() {
      this.balance = await this.provider.getBalance(this.account);
      if (this.balance === "0x00") {
        this.balance = this.account;
      }
    },
  },
  created() {
    if (!this.account && localStorage.getItem("metamaskIsConnected") === "true")
      this.connectWallet();
  },
  components: {
    CommonButton: defineAsyncComponent(() =>
      import("@/components/common/CommonButton.vue")
    ),
    ConnectDropdown: defineAsyncComponent(() =>
      import("@/components/common/ConnectDropdown.vue")
    ),
    StakeDropdown: defineAsyncComponent(() =>
      import("@/components/common/StakeDropdown.vue")
    ),
  },
};
</script>

<style scoped>
.header {
  border-bottom: 1px solid rgb(230, 232, 236);
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: auto;
  height: 5rem;
  width: 76%;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.nav a {
  padding: 0.5rem 0 0.5rem 2rem;
}

.nav a:first-child {
  padding: 0 2rem 0 0;
}

.nav a:nth-child(2) {
  border-left: 1px solid rgb(230, 232, 236);
}

.logo {
  margin: 0 0 0 -4rem;
}
</style>
