<template>
  <div class="abra-wrapper">
    <div class="abra-nav-wrapper">
      <ul class="abra-nav">
        <li>Cauldrons</li>

        <router-link :to="{ name: 'borrow' }">
          <li>Borrow</li>
        </router-link>

        <li>Position</li>
      </ul>
    </div>
    <router-view></router-view>
  </div>
</template>
<script>
export default {
  name: "AbracadabraPage",
};
</script>
<style scoped>
.abra-nav {
  width: 60%;
  padding: 32px;
  gap: 24px;
  display: flex;
  align-items: center;
  margin: auto;
}
</style>
