<template>
  <div class="dashboard">
    <section class="cover-photo">
      <img src="@/assets/images/dashboard/bg-img-dashboard.png" alt="" />
      <div class="photo-buttons">
        <CommonButton title="Edit profile" type="transparent" />
        <CommonButton title="Edit photo" type="transparent" style="margin-left: 1rem" />
      </div>
    </section>

    <section class="dashboard-main">
      <div class="userCard-wrapper">
        <UserCard />
      </div>

      <div class="dashboard-content">
        <ul class="categories">
          <li class="chosen-category">WISHLIST</li>
          <li>COLLECTIONS</li>
          <li>CREATED</li>
          <li>LIKES</li>
        </ul>

        <ul class="wishlist" v-if="wishlist">
          <li class="card" v-for="item in wishlist" :key="item.title">
            <ItemCard :item="item" />
          </li>
        </ul>
      </div>
    </section>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";

import { mapGetters } from "vuex";
export default {
  name: "DashBoard",
  computed: {
    ...mapGetters({ account: "getAccount", products: "getProducts" }),
    wishlist() {
      return this.products.filter((product) => product.wish);
    },
  },
  created() {
    if (!this.account) this.$router.push({ name: "main" });
  },
  components: {
    CommonButton: defineAsyncComponent(() =>
      import("@/components/common/CommonButton.vue")
    ),
    UserCard: defineAsyncComponent(() => import("@/components/e-shop/Usercard.vue")),
    ItemCard: defineAsyncComponent(() => import("@/components/e-shop/ItemCard.vue")),
  },
};
</script>

<style scoped>
.cover-photo {
  position: relative;
  width: 100%;
}

.cover-photo img {
  width: 100%;
  z-index: 1;
}

.photo-buttons {
  position: absolute;

  bottom: 2rem;
  right: 12%;

  display: flex;
  z-index: 2;
}

.dashboard-main {
  display: flex;
  justify-content: space-between;

  width: 76%;

  margin: 4rem auto;
}

.dashboard-content {
  width: 100%;
  margin-left: 5rem;
}

.userCard-wrapper {
  margin-top: -11rem;
  z-index: 3;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;

  height: 2rem;
  overflow-y: auto;
}

.categories li {
  border-radius: 100px;
  padding: 0.5rem 0.75rem;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgb(119, 126, 145);

  cursor: pointer;
  transition: background-color 0.5s;
}

.categories li:hover {
  background-color: rgba(53, 57, 69, 0.147);
  color: white;
}

.chosen-category {
  background-color: rgb(53, 57, 69) !important;
  color: white !important;
}

.wishlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2.375rem;
  overflow: auto;
}

.card {
  margin: auto;
  width: 16rem;
}
</style>
