<template>
  <div class="main">
    <section class="slogan">
      <p>CREATE, EXPLORE & COLLECT DIGITAL ART NFTS.</p>
      <h1>The new creative economy</h1>
    </section>
    <section class="container">
      <template v-if="!isLoading">
        <FiltersComponent />
        <div class="cards">
          <div
            class="card"
            v-for="item in filteredProducts.slice(0, pageLimit)"
            :key="item.title"
          >
            <ItemCard :item="item" />
          </div>
        </div>
        <CommonButton
          title="Load more"
          type="secondary"
          v-if="showLoadMore"
          @click="loadMore"
        />
      </template>
      <template v-if="isLoading">
        <Loader />
      </template>
    </section>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import { mapGetters } from "vuex";
import Loader from "@/components/common/Loader.vue";

export default {
  name: "MainView",
  data() {
    return {
      pageLimit: 8,
    };
  },
  computed: {
    ...mapGetters({
      products: "getProducts",
      filteredProducts: "getFilteredProducts",
      isLoading: "getIsLoading",
    }),
    showLoadMore() {
      return this.pageLimit < this.filteredProducts.length;
    },
  },
  components: {
    FiltersComponent: defineAsyncComponent(() =>
      import("@/components/e-shop/FiltersComponent.vue")
    ),
    CommonButton: defineAsyncComponent(() =>
      import("@/components/common/CommonButton.vue")
    ),
    ItemCard: defineAsyncComponent({
      loader: () => import("@/components/e-shop/ItemCard.vue"),
      loadingComponent: Loader,
    }),
    Loader: Loader,
  },
  methods: {
    loadMore() {
      this.pageLimit += 8;
    },
  },
  watch: {
    filteredProducts() {
      this.pageLimit = 8;
    },
  },
};
</script>

<style scoped>
.main {
  border: 1px solid rgb(230, 232, 236);
}

.slogan {
  margin: 8rem auto;
  text-align: center;
  font-weight: 700;
  font-style: normal;
}

.slogan p {
  font-size: 0.75rem;
  line-height: 0.75rem;

  color: rgb(119, 126, 144);

  margin-bottom: 0.5rem;
}

.slogan h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.01em;
}

.container {
  width: 76%;
  margin: auto;
  margin-bottom: 4rem;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  gap: 2rem;

  margin: 2.5rem 0 4rem 0;
}

.card {
  margin: auto;
  width: 16rem;
}
</style>
