<template>
  <Loader v-if="!currentItem" />
  <div class="product-page" v-if="currentItem">
    <section class="thumbnail-wrapper">
      <img :src="this.currentItem.images[chosenPhoto]" class="thumbnail" />
    </section>

    <section class="product-info">
      <h1 class="title">{{ currentItem.title }}</h1>

      <div class="price-stock">
        <span class="price">{{ currentItem.price }} $</span>
        <span>{{ currentItem.stock }} in stock</span>
      </div>

      <p class="description">{{ currentItem.description }}</p>

      <ul class="categories">
        <li
          v-for="(category, index) of categories"
          :key="index"
          :class="{ 'chosen-category': isChosenCategory(category) }"
          @click="() => chooseCategory(category)"
        >
          {{ category.toUpperCase() }}
        </li>
      </ul>

      <div class="options">
        <ul class="images option" v-if="chosenCategory === 'images'">
          <li
            v-for="(image, index) in currentItem.images"
            :key="image"
            @click="() => choosePhoto(index)"
            class="image-wrapper"
          >
            <img :src="image" class="image" />
          </li>
        </ul>

        <div class="category option" v-if="chosenCategory === 'category'">
          <span>{{ currentItem.category.toUpperCase() }}</span>
        </div>

        <div class="brand option" v-if="chosenCategory === 'brand'">
          <span>{{ currentItem.brand.toUpperCase() }}</span>
        </div>

        <div class="brand option" v-if="chosenCategory === 'bids'">
          <div class="all-bids">
            <ul class="bids-list">
              <li
                class="bid"
                v-for="(bid, index) in currentItem.bids"
                :key="bid"
              >
                <span class="bid-index">#{{ index + 1 }} :</span
                ><span class="bid-amount">{{ bid }} $</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <section class="bid-card" v-if="account">
        <div class="highest-bid">
          <img src="@/assets/images/user-ava.png" class="bid-ava" />
          <div class="highest-bid-info">
            <p class="maker">Highest bid by <span>Maker Name</span></p>
            <p class="amount">$ {{ lastBid }}</p>
          </div>
        </div>
        <div class="bid-buttons">
          <CommonButton
            :title="'View all'"
            :type="'secondary'"
            @click="
              () => {
                chooseCategory('bids');
              }
            "
          />
          <CommonButton :title="'Bid'" :type="'primary'" @click="openPopup" />
        </div>
      </section>
    </section>
  </div>
  <Transition name="fade" mode="out-in" v-if="currentItem">
    <BidPopup
      :prevBid="lastBid"
      :isOpen="popupIsOpened"
      @acceptBid="acceptBid"
      @closePopup="closePopup"
      :key="lastBid"
    />
  </Transition>
</template>

<script>
import CommonButton from "@/components/common/CommonButton.vue";
import store from "@/store";
import { mapGetters } from "vuex";
import { defineAsyncComponent } from "vue";

export default {
  name: "ProductView",
  data() {
    return {
      categories: ["images", "category", "brand", "bids"],
      chosenCategory: "images",
      chosenPhoto: 0,
      popupIsOpened: false,
    };
  },
  computed: {
    ...mapGetters({ account: "getAccount", getProductById: "getProductById" }),
    currentItem() {
      return this.getProductById(this.$route.params.id);
    },
    lastBid() {
      let lastBid = 0;
      if (this.currentItem.bids.length <= 0) {
        lastBid = +this.currentItem.price;
      } else {
        lastBid = +this.currentItem.bids[this.currentItem.bids.length - 1];
      }
      return +lastBid;
    },
  },
  methods: {
    isChosenCategory(category) {
      return this.chosenCategory == category;
    },
    chooseCategory(category) {
      this.chosenCategory = category;
      window.scrollTo({ top: 0, behavior: "smooth" });
    },
    acceptBid(newBid) {
      this.currentItem.bids.push(+newBid);
      this.currentItem.wish = true;
      this.closePopup();
    },
    openPopup() {
      this.popupIsOpened = true;
    },
    closePopup() {
      this.popupIsOpened = false;
    },
    choosePhoto(index) {
      this.chosenPhoto = index;
    },
  },
  created() {
    store.dispatch("fetchProductsInfo");
  },
  components: {
    Loader: defineAsyncComponent(() =>
      import("@/components/common/Loader.vue")
    ),
    CommonButton,
    BidPopup: defineAsyncComponent(() =>
      import("@/components/common/BidPopup.vue")
    ),
  },
};
</script>
<style scoped>
.product-page {
  display: flex;
  justify-content: space-between;
  gap: 6rem;

  width: 76%;
  margin: 6rem auto 0 auto;
}

.thumbnail-wrapper {
  width: 42.875rem;
  height: 56.625px;
  width: 60%;
}

.thumbnail {
  object-fit: contain;
  object-position: center;
  border-radius: 8px;
}

.product-info {
  width: 40%;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
}

.price-stock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  margin: 0.5rem 0 2.5rem 0;
}

.price-stock span {
  padding: 0.5rem 0.5rem 0.375rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #777e91;
}

.price {
  border: 2px solid rgb(69, 179, 107);
  color: rgb(69, 179, 107) !important;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777e91;
  margin-bottom: 2.5rem;
}

.categories {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  height: 3rem;
  width: 100%;
  overflow-y: auto;

  padding: 0.375rem;

  border-radius: 100px;
  border: 1px solid rgba(119, 126, 145, 0.442);
}

.categories li {
  border-radius: 100px;
  padding: 0.5rem 0.75rem;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgb(119, 126, 145);

  cursor: pointer;
  transition: background-color 0.5s;
}

.categories li:hover {
  background-color: rgba(53, 57, 69, 0.147);
  color: white;
}

.chosen-category {
  background-color: rgb(53, 57, 69) !important;
  color: white !important;
}

.options {
  margin-top: 2.375rem;
  margin-bottom: 4rem;
  text-align: center;
}

.option span {
  font-size: 24px;
  line-height: 32px;
}

.images {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.image-wrapper {
  cursor: pointer;
  padding: 0.25rem;
  transition: all 0.5s;
  width: 10rem;
}

.image-wrapper:hover {
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
}

.image {
  cursor: pointer;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.bid-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  margin: 8rem auto 5rem auto;
  padding: 24px;

  width: 384px;
  height: 184px;

  background: #fcfcfd;
  border: 1px solid #e6e8ec;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 16px;
}

.highest-bid {
  display: flex;
  gap: 1rem;
}

.bid-ava {
  width: 3rem;
  height: 3rem;

  background: #45b36b;
  border-radius: 48px;
}

.maker {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #777e91;
}

.maker span {
  color: #23262f;
}

.amount {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #777e91;
}

.bid-buttons {
  display: flex;
  gap: 2rem;
  align-self: center;
}

.all-bids {
  height: 6rem;
  margin-top: 1rem;
  overflow-y: auto;
  width: 100%;
}

.bid {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777e91;
}

.bid-index {
  font-weight: 600px;
}

.bid-amount {
  font-weight: 500;
  color: #23262f;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
