<template>
  <div class="borrow-wrapper" v-if="chosenCauldron" :key="chosenCauldron">
    <h2>BORROW PAGE</h2>
    <div class="borrow-container">
      <div class="inputs block">
        <div class="collateral">
          <h3 class="input-title">Collateral Assets</h3>
          <span class="chosenToken-balance">{{
            chosenCauldron.collateralToken.balance
          }}</span>
          <div class="input-button" v-if="chosenCauldron">
            <button class="choose-token" @click="openPopup">
              <img
                :src="chosenCauldron.collateralToken.icon"
                alt="token-icon"
                class="token-icon"
              />
              <span>{{ chosenCauldron.collateralToken.name }}</span>
            </button>
            <input
              v-model="collateralInputValue"
              type="number"
              class="value"
              placeholder="0.0"
              min="0"
            />
          </div>
        </div>
        <div class="borrow" v-if="chosenCauldron">
          <h3 class="input-title">MIM to borrow</h3>
          <div class="input-button" v-if="chosenCauldron">
            <button class="choose-token">
              <img
                :src="chosenCauldron.borrowToken.icon"
                alt="token-icon"
                class="token-icon"
              />
              <span>{{ chosenCauldron.borrowToken.name }}</span>
            </button>
            <input type="number" class="value" placeholder="0.0" disabled />
          </div>
        </div>

        <div class="balances-box">
          <h3 class="balances-title">Your wallet balances</h3>

          <ul class="balances">
            <li class="token-balance">
              <img
                :src="chosenCauldron.collateralToken.icon"
                alt="token-icon"
                class="token-icon"
              />
              <span>{{ chosenCauldron.collateralToken.name }}</span>
              <span>{{ chosenCauldron.collateralToken.balance }}</span>
            </li>
            <li class="token-balance">
              <img
                :src="chosenCauldron.borrowToken.icon"
                alt="token-icon"
                class="token-icon"
              />
              <span>{{ chosenCauldron.borrowToken.name }}</span>
              <span>{{
                chosenCauldron.borrowToken.balance
                  ? chosenCauldron.borrowToken.balance
                  : "0.0000"
              }}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="info block">
        <h3 class="info-block-title">Borrow MIM</h3>
        <div class="info-table-wrapper">
          <div class="info-table">
            <div class="table-cell">
              <h4 class="cell-title">collateral deposit</h4>
              <p class="cell-value">0</p>
            </div>
            <div class="table-cell">
              <h4 class="cell-title">collateral value</h4>
              <p class="cell-value">0</p>
            </div>
            <div class="table-cell">
              <h4 class="cell-title">MIM borrowed</h4>
              <p class="cell-value">0</p>
            </div>
            <div class="table-cell">
              <h4 class="cell-title">liquidation price</h4>
              <p class="cell-value">0</p>
            </div>
          </div>
        </div>
        <div class="action-buttons">
          <CommonButton
            :title="actionButton.text"
            type="primary"
            @click="actionButton.action"
            :disabled="collateralInputValue <= 0"
          />
        </div>
      </div>
    </div>
    <BorrowTokensPopup
      :cauldrons="cauldronsData"
      :isOpen="popupIsOpened"
      @closePopup="closePopup"
      @chooseToken="chooseToken"
    />
    <Notification
      :text="notificationText"
      v-if="actionProceed"
      @click="closeNotification"
    />
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { getCauldronsData } from "@/helpers/borrow/getBorrowInfo";
import BorrowTokensPopup from "@/components/common/BorrowTokensPopup.vue";
import CommonButton from "@/components/common/CommonButton.vue";
import Notification from "@/components/common/Notification.vue";
import { ethers } from "ethers";
import {
  checkApprove,
  getBentoBoxContract,
} from "@/helpers/borrow/approveHelper.js";
export default {
  name: "BorrowPage",
  data() {
    return {
      cauldronsData: [],
      chosenCauldron: null,
      popupIsOpened: false,
      actionProceed: false,
      notificationText: "",
      collateralInputValue: null,
    };
  },
  computed: {
    ...mapGetters({
      account: "getAccount",
      signer: "getSigner",
      chainId: "getChainId",
    }),
    actionButton() {
      if (!this.chosenCauldron.allowance)
        return { text: "approve", action: this.addCollateralHandler };
      return { text: "add collateral", action: this.addCollateral };
    },
  },
  watch: {
    async account() {
      await this.getCauldronsData();
    },
  },
  methods: {
    chooseToken(tokenName) {
      this.chosenCauldron = this.cauldronsData.find((cauldron) => {
        return cauldron.collateralToken.name === tokenName;
      });
    },
    openPopup() {
      this.popupIsOpened = true;
    },
    closePopup() {
      this.popupIsOpened = false;
    },
    async getCauldronsData() {
      this.cauldronsData = await getCauldronsData(
        this.account,
        this.signer,
        this.chainId
      );
      this.chosenCauldron = this.cauldronsData[0];
    },

    async addCollateralHandler() {
      this.openNotification("Add Collateral Proceed");
      console.log(this.chosenCauldron);
      const cauldronContract = this.chosenCauldron.cauldronContract;

      const collateralTokenContract =
        this.chosenCauldron.collateralToken.contract;

      const bentoBoxContract = await getBentoBoxContract(
        cauldronContract,
        this.chosenCauldron.isDegenBox,
        this.signer
      );

      const collateralDecimals = this.chosenCauldron.collateralToken.decimals;

      const parsedCollateralInputValue = ethers.utils.parseUnits(
        this.collateralInputValue.toString(),
        collateralDecimals
      );

      /// make analog of isTokenApprowed and replace with checkApprove
      const approveValue = await checkApprove(
        cauldronContract,
        bentoBoxContract,
        this.account
      );

      console.log(approveValue);

      if (approveValue.lt(this.collateralInputValue)) {
        this.approve(collateralTokenContract);
      }
      console.log(collateralTokenContract, parsedCollateralInputValue);
    },

    async approve(collateralTokenContract) {
      const cauldronMasterContractAddress =
        await this.chosenCauldron.cauldronContract.masterContract();
      try {
        console.log(collateralTokenContract);
        console.log(cauldronMasterContractAddress);

        await collateralTokenContract.contract.approve(
          cauldronMasterContractAddress,
          "0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff",
          { gasLimit: 5000000 }
        );
      } catch (e) {
        console.log("approve went wrong", e);
      }
      // window.location.reload();
    },

    closeNotification() {
      this.notificationText = "";
      this.actionProceed = false;
    },
    openNotification(notificationText = "Action proceed") {
      this.notificationText = notificationText;
      this.actionProceed = true;
    },
  },
  async mounted() {
    if (this.account) await this.getCauldronsData();
  },
  components: {
    BorrowTokensPopup,
    CommonButton,
    Notification,
  },
};
</script>
<style scoped>
.borrow-wrapper {
  position: relative;
  margin: auto;
  padding: 32px;
}
.borrow-wrapper h2 {
  text-align: center;
  margin: 0 auto 32px auto;
}
.borrow-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.block {
  position: relative;
  width: 48%;
  min-height: 400px;
  border-radius: 10px;
  padding: 16px;
  border: 2px solid rgb(55, 114, 255);
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.chosenToken-balance {
  position: absolute;
  top: 16px;
  right: 50px;
}
.collateral,
.borrow {
  width: 100%;
}
.choose-token {
  width: 100%;
}
.choose-token img {
  width: 20px;
}
.input-button {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 12px 0;
  padding: 12px;
  background-color: rgba(128, 128, 128, 0.122);
  border-radius: 10px;
}
.value {
  width: 100%;
  background-color: transparent;
}
.balances-box {
  width: 100%;
}
.balances-title {
  text-align: left;
  align-self: flex-start;
  margin-bottom: 16px;
}

.token-balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.token-balance img {
  width: 40px;
}

.info-block-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 24px;
}
.info-table {
  border-radius: 10px;
  padding: 16px 4px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.table-cell {
  width: 50%;
  padding: 12px;
}
.table-cell:nth-child(-n + 2) {
  border-bottom: 1px solid rgba(82, 97, 133, 0.355);
}
.table-cell:nth-child(odd) {
  border-right: 1px solid rgba(82, 97, 133, 0.355);
}
.cell-title {
  margin-bottom: 8px;
}
.action-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 32px auto;
}
</style>
