<template>
  <div class="filters-container">
    <section class="upper">
      <ul class="categories">
        <li v-for="(category, index) of allCategories" :key="index" :class="{ 'chosen-category': isChosen(category) }"
          @click="() => chooseCategory(category)">
          {{ category.toUpperCase() }}
        </li>
      </ul>
      <CommonButton type="primary" title="Filter" v-show="!chosenCategories.includes('all')" @click="resetFilters" />
    </section>
    <section class="lower">
      <ul class="lower-filters">
        <li>
          <label>Price</label>
          <CommonDropdown :optionsList="['None', 'Highest price', 'Lowest price']" :filterTitle="'price'" />
        </li>
        <li>
          <label>Rating</label>
          <CommonDropdown :optionsList="['None', 'Top rating', 'Low rating']" :filterTitle="'rating'" />
        </li>
        <li>
          <label>Brand</label>
          <CommonDropdown :optionsList="sortedBrands" :key="sortedBrands" :filterTitle="'brand'" />
        </li>
        <li>
          <label>Price range</label>
          <FiltersSlider />
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import store from "@/store";
import { mapGetters } from "vuex";

export default {
  name: "FiltersComponent",
  computed: {
    ...mapGetters({
      allCategories: "getAllCategories",
      chosenCategories: "getChosenCategories",
      sortedBrands: "getSortedBrands",
    }),
  },

  methods: {
    isChosen(category) {
      return this.chosenCategories.includes(category);
    },
    chooseCategory(category) {
      store.dispatch("changeFilter", { title: "brand", option: "All" });
      store.dispatch("addChosenCategory", category);
    },
    resetFilters() {
      this.chooseCategory('all')
    },
  },
  components: {
    CommonDropdown: defineAsyncComponent(() =>
      import("@/components/common/CommonDropdown.vue")
    ),
    CommonButton: defineAsyncComponent(() =>
      import("@/components/common/CommonButton.vue")
    ),
    FiltersSlider: defineAsyncComponent(() =>
      import("@/components/common/FiltersSlider.vue")
    ),
  },
};
</script>

<style scoped>
.upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(230, 232, 236);
}

.categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;

  margin: auto;

  height: 2rem;
  max-width: 60%;
  overflow-y: auto;
}

.categories li {
  border-radius: 100px;
  padding: 0.5rem 0.75rem;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgb(119, 126, 145);

  cursor: pointer;
  transition: background-color 0.5s;
}

.categories li:hover {
  background-color: rgba(53, 57, 69, 0.147);
  color: white;
}

.chosen-category {
  background-color: rgb(53, 57, 69) !important;
  color: white !important;
}

.lower-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lower-filters li {
  display: flex;
  flex-direction: column;
}

.lower-filters li label {
  margin: 2rem 0 0.75rem 0;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: rgb(177, 181, 196);
}
</style>
