<template>
  <router-link :to="{ name: 'product', params: { id: item.id } }">
    <div class="item-container">
      <img :src="item.thumbnail" :alt="item.title" class="thumbnail" />
      <div class="item-info">
        <div class="title-price">
          <h1 class="title">{{ item.title }}</h1>
          <div class="price">{{ item.price }} $</div>
        </div>
        <p>{{ item.stock }} in stock</p>
      </div>

      <div class="bid-info">
        <div class="highest-bid">
          <img src="@/assets/images/productCard/candlesticks.svg" alt="" />
          <p>Highest bid <strong>{{ highestBid }} $</strong></p>
        </div>
        <p class="inWishlist" v-if="item.wish">In my wishlist 🔥</p>
      </div>
    </div>
  </router-link>
</template>
<script>
export default {
  name: "ItemCard",
  props: {
    item: Object,
  },
  computed: {
    highestBid() {
      if (this.item.bids.length <= 0) return +this.item.price
      return this.item.bids[this.item.bids.length - 1]
    }
  }
};
</script>
<style scoped>
.item-container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 256px;
  height: 303px;
  border-radius: 16px;

  object-fit: cover;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.75rem 0 0.75rem 0;

  border-bottom: 1px solid #e6e8ec;
}

.title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(35, 38, 47);
}

.price {
  padding: 0.5rem 0.5rem 0.375rem;
  border: 2px solid rgb(69, 179, 107);
  border-radius: 4px;

  color: rgb(69, 179, 107);
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.bid-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgb(119, 126, 145);
}

.bid-info img {
  height: 1rem;
}

.highest-bid {
  display: flex;
  align-items: center;
}

.highest-bid img {
  max-width: 1.375rem;
  margin: 0 0 0 -0.25rem;
}

.new {
  width: 4rem;
}
</style>
