<template>
  <div class="user-card">
    <div class="card-content">
      <img src="@/assets/images/user-ava.png" class="ava" />
      <h1 class="username">Enrico Cole</h1>
      <div class="adress-block">
        <p>adress</p>
        <img src="@/assets/images/dashboard/edit-adress-icon.svg" />
      </div>

      <p class="description">
        A wholesome farm owner in Montana. Upcoming gallery solo show in Germany
      </p>

      <div class="link-block">
        <a href="">
          <img
            src="@/assets/images/dashboard/link-icon.svg"
            style="margin-right: 0.75rem"
          />link</a
        >
      </div>

      <div class="buttons">
        <CommonButton title="Follow" type="primary" />
        <CommonButton icon="Upload" type="secondary" />
        <CommonButton icon="More" type="secondary" />
      </div>

      <ul class="social-media">
        <li>
          <a href="">
            <img
              src="@/assets/images/dashboard/social-media-icons/twitter.svg"
              alt="twitter"
            />
          </a>
        </li>
        <li>
          <a href="">
            <img
              src="@/assets/images/dashboard/social-media-icons/instagram.svg"
              alt="instagram"
            />
          </a>
        </li>
        <li>
          <a href="">
            <img
              src="@/assets/images/dashboard/social-media-icons/facebook.svg"
              alt="facebook"
            />
          </a>
        </li>
      </ul>

      <p class="membership">Member since Mar 15, 2021</p>
    </div>
  </div>
</template>
<script>
import { defineAsyncComponent } from "vue";

export default {
  name: "UserCard",
  components: {
    CommonButton: defineAsyncComponent(() =>
      import("@/components/common/CommonButton.vue")
    ),
  },
};
</script>
<style scoped>
.user-card {
  padding: 2rem;
  width: 16rem;

  text-align: center;

  border: 1px solid #e6e8ec;
  box-shadow: 0px 40px 32px -24px rgba(15, 15, 15, 0.12);
  border-radius: 16px;

  background-color: rgb(252, 252, 253);
}
.ava {
  margin-bottom: 1.5rem;

  background-color: rgba(69, 178, 107, 1);
  border-radius: 50%;
}
.adress-block {
  margin-top: 0.25rem;

  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.description {
  margin-top: 1.25rem;

  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777e91;
}
.link-block {
  margin-top: 1.25rem;

  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.buttons {
  margin-top: 3rem;

  display: flex;
  justify-content: space-between;
}

.social-media {
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
a {
  transition: all 0.5s;
}
a:hover {
  opacity: 0.5;
}

.membership {
  margin-top: 3.375rem;
  padding-top: 3rem;
  border-top: 1px solid rgba(230, 232, 236, 1);

  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777e91;
}
</style>
