<template >
        <div class='container' v-if='isOpen'>
            <div class="popup-wrapper">
                <div class="popup-backdrop" @click="$emit('closePopup')"></div>
                <div class="popup">
                    <div class="popup-header">
                        <h1>Make a bid</h1>
                        <img src="@/assets/images/productCard/close.svg" class="exit" @click="$emit('closePopup')">
                    </div>
                    <div class="bid-info">
                        <h2 class="prev">Previous bid : <span> {{ prevBid }} $</span></h2>
                        <div class="new-bid">
                            <div class="input-block">
                                <label for="yourBid">Enter your bid:</label>
                                <div class="input">
                                    <input type="number" id="yourBid" name="yourBid" v-model="newBidValue" :min="minBid"
                                        @input="() => { bidIsEnough = true }">
                                    <span class="input-currency">$</span>
                                </div>
                            </div>
                            <CommonButton title="Accept" type="primary" @click="acceptBid" />
                        </div>
                        <div class="error" v-if="!bidIsEnough">
                            <img src="@/assets/images/productCard/error-icon.svg">
                            <div>
                                Your bid must be more then previous ! <br>
                                Need atleast <span class="price-difference">{{ prevBid - newBidValue }} $ </span>more
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
import { defineAsyncComponent } from 'vue'

export default ({
    name: 'BidPopup',
    props: {
        prevBid: Number,
        isOpen: Boolean
    },
    emits: ['acceptBid', 'closePopup'],
    data() {
        return {
            bidIsEnough: true,
            newBidValue: this.prevBid + 1
        }
    },
    computed: {
        minBid() {
            return this.prevBid + 1
        }
    },
    methods: {
        acceptBid() {
            if (+this.newBidValue >= +this.minBid) {
                this.bidIsEnough = true
                this.$emit('acceptBid', +this.newBidValue)
            } else {
                this.bidIsEnough = false
            }
        }
    },
    components: {
        CommonButton: defineAsyncComponent(() => import("@/components/common/CommonButton.vue"))
    }
})
</script>

<style scoped>
.container {
    position: relative;
    z-index: 10;
    transition: all 0.5s;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.popup-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.721);
}

.popup {
    position: absolute;
    top: 30%;
    left: calc((100% - 500px)/2);
    z-index: 2;
    width: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.exit {
    cursor: pointer;
    transition: 0.5s;
}

.exit:hover {
    opacity: 0.5;
}

.bid-info {
    color: rgb(47, 44, 44);
}

.new-bid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.input-block {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #E6E8EC;
    border-radius: 12px;
}

#yourBid {
    width: 90%;
}

.error {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
    background: rgba(239, 70, 111, 0.08);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #EF466F;
}

.price-difference {
    font-weight: 600;
    font-size: 20px;
    color: #ed184d;
}
</style>