<template>
  <div class="container" v-if="isOpen">
    <div class="popup-wrapper">
      <div class="popup-backdrop" @click="$emit('closePopup')"></div>
      <div class="popup">
        <div class="popup-header">
          <h4>Tokens</h4>
        </div>
        <ul class="tokens-list">
          <li
            v-for="cauldron in cauldrons"
            :key="cauldron.collateralToken.name"
            @click="chooseToken(cauldron.collateralToken.name)"
            class="token"
          >
            <img
              :src="cauldron.collateralToken.icon"
              alt="token-icon"
              class="token-icon"
            />
            <span>{{ cauldron.collateralToken.name }}</span>
            <span>{{ cauldron.collateralToken.balance }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BorrowTokensPopup",
  props: {
    cauldrons: Array,
    isOpen: Boolean,
  },
  emits: ["closePopup", "chooseToken"],
  data() {
    return {};
  },
  computed: {},
  methods: {
    chooseToken(tokenName) {
      this.$emit("chooseToken", tokenName);
      this.$emit("closePopup");
    },
  },
};
</script>

<style scoped>
.container {
  position: relative;
}
.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.popup-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.269);
}
.popup {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 200px);
  width: 400px;
  min-height: 300px;
  padding: 32px;
  border-radius: 10px;
  background-color: white;
}
.token {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}
.token img {
  width: 30px;
}
</style>
