<template>
  <button :class="[type, { 'icon-button': icon }]" :disabled="disabled">
    <img
      src="@/assets/images/user-ava.png"
      v-if="type === 'disconnect'"
      class="avatar"
    />

    <span v-if="title" class="title">{{ title }}</span>

    <img src="@/assets/images/cross/cross.svg" v-if="title === 'Filter'" />
    <img
      src="@/assets/images/dashboard/edit-cover-photo.svg"
      v-if="title === 'Edit photo'"
      style="width: 1rem"
    />
    <img
      src="@/assets/images/dashboard/edit-profile.svg"
      v-if="title === 'Edit profile'"
      style="width: 1rem"
    />

    <img
      src="@/assets/images/dashboard/download-icon.svg"
      v-if="icon === 'Upload'"
      class="icon"
    />
    <img
      src="@/assets/images/dashboard/more-icon.svg"
      v-if="icon === 'More'"
      class="icon"
    />
  </button>
</template>
<script>
export default {
  name: "CommonButton",
  props: {
    title: String,
    type: String,
    icon: String,
    disabled: Boolean,
  },
};
</script>
<style scoped>
button {
  display: flex;
  align-items: center;

  height: 2.5rem;
  padding: 0.75rem 1rem;
  margin: auto;

  border: 2px solid transparent;
  border-radius: 90px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  transition: all 0.5s;
}

.title {
  max-width: 4rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
}

.icon-button {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
}

button:hover,
button:disabled {
  opacity: 0.75;
}

button img {
  width: 9px;
  margin-left: 1rem;
}

.icon {
  width: auto;
  margin: auto;
}

.primary {
  background-color: rgb(55, 114, 255);
  border-color: rgb(55, 114, 255);

  color: white;
}

.secondary {
  background-color: transparent;
  border-color: rgb(230, 232, 236);
}

.secondary:hover:not(:disabled) {
  border-color: rgb(35, 38, 47);
}

.transparent {
  background-color: transparent;
  border-color: rgba(252, 252, 253, 1);
  color: rgb(230, 232, 236);
}

.disconnect {
  max-width: 9rem;
  padding: 0.5rem 0.1rem;

  background-color: transparent;
  border-color: rgb(230, 232, 236);
}

.avatar {
  margin: 0 0.75rem 0 0;
  width: 2rem;
  height: 2rem;
  background-color: #45b36b;
  border-radius: 3rem;
}
</style>
