<template>
  <div class="dropdown-wrapper">
    <div class="dropdown" @click="toggleDropdown" v-click-outside="closeDropdown">
      <div class="dropdown-title">
        <p>{{ chosenOption }}</p>
        <img src="@/assets/images/arrow/dropdownArrow.svg" alt="" :class="{ 'arrow-open': showDropdown }" />
      </div>
      <div v-if="showDropdown" class="dropdown-list">
        <div class="dropdown-item" v-for="(option, index) in options.filter(
          (option) => option !== chosenOption
        )" :key="index" @click="chooseOption(option)">
          <p>{{ option }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from "@/store";

import { filterProducts } from "@/helpers/filtration/productsFiltration";

export default {
  name: "CommonDropdown",
  props: {
    optionsList: Array,
    filterTitle: String,
  },
  data() {
    return {
      showDropdown: false,
      chosenOption: this.optionsList[0],
      options: this.optionsList.slice(1),
    };
  },
  methods: {
    toggleDropdown() {
      this.showDropdown = !this.showDropdown;
    },
    closeDropdown() {
      this.showDropdown = false;
    },
    chooseOption(option) {
      this.chosenOption = option;
      this.manageFilters(this.filterTitle, this.chosenOption);
      filterProducts();
    },
    manageFilters(title, option) {
      store.dispatch("changeFilter", { title, option });
    },
  },
  watch: {
    chosenOption(newOption, prevOption) {
      this.options = this.options.filter((option) => option !== newOption);
      this.options.sort();
      this.options.unshift(prevOption);
    },
  },
};
</script>

<style scoped>
.dropdown-wrapper {
  display: inline-block;
  cursor: pointer;
  width: 250px;
}

.dropdown {
  position: relative;
  padding: 0.75rem 0.5rem 0.75rem 1rem;
  border: 2px solid rgb(230, 232, 236);
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.dropdown-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgb(35, 38, 47);
  z-index: -1;
}

.dropdown-title img {
  margin-left: 0.5rem;
  transition: all 200ms ease-in-out;
}

.arrow-open {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 80%;
  left: 0;
  width: calc(100% + 4px);
  margin: 0 0 0 -2px;
  max-height: 100px;
  overflow-y: auto;
  border: 2px solid rgb(230, 232, 236);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-bottom: 0.25rem;
  border-top: none;
  background-color: white !important;
  z-index: 2;
  transition: all 0.5s;
}

.dropdown-list::-webkit-scrollbar {
  width: 0.375rem;
}

.dropdown-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.105);
  border-radius: 10px;
}

.dropdown-list::-webkit-scrollbar-thumb {
  background: rgb(79, 83, 89);
  border-radius: 10px;
}

.dropdown-item {
  width: 80%;
  margin: auto;
}

.dropdown-item:first-child {
  padding-top: 0.1rem;
  border-top: 1px solid rgba(170, 160, 160, 0.505);
}

.dropdown-item:hover {
  cursor: pointer;
  color: rgb(5, 41, 171);
}
</style>
