<template>
    <div class="connect-dropdown" v-click-outside="closeDropdown">
        <CommonButton :title="account" type="disconnect" @click="toggleDropdown" style="position: relative; z-index:2" />
        <div class="dropdown" v-if="showDropdown">
            <div class="dropdown-content">
                <button class="dropdown-item" @click="$emit('disconnect')">
                    Disconect
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import { defineAsyncComponent } from 'vue';

export default {
    name: 'ConnectDropdown',
    props: {
        account: String,
        type: String,
    },
    data() {
        return {
            showDropdown: false
        }
    },
    emits: ['disconnect'],
    methods: {
        toggleDropdown() {
            this.showDropdown = !this.showDropdown
        },
        closeDropdown() {
            this.showDropdown = false
        }
    },
    components: {
        CommonButton: defineAsyncComponent(() => import('@/components/common/CommonButton.vue'))
    }
}
</script>
<style scoped>
.connect-dropdown {
    position: relative;
}

.dropdown {
    position: absolute;
    z-index: 1;
    top: 1.3rem;
    padding: 1.75rem 1rem 0.25rem 1rem;
    width: 7.15rem;
    border: 1px solid rgb(230, 232, 236);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: none;
    background-color: white;
}

.dropdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-item {
    height: 2.5rem;
    padding: 0 1rem;
    margin: auto;
    border: 2px solid transparent;
    border-radius: 90px;
    background-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.5s;
}

.dropdown-item:hover {
    color: blue;
}
</style>