<template>
  <div class="slider-wrapper">
    <span>{{ price }} $</span>
    <input
      type="range"
      :min="priceRange.min"
      :max="priceRange.max"
      step="1"
      v-model.number="price"
      class="slider"
    />
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
import { filterProducts } from "@/helpers/filtration/productsFiltration";

export default {
  name: "FiltersSlider",
  data() {
    return {
      price: 0,
      priceRange: {
        min: 0,
        max: 0,
      },
    };
  },
  computed: {
    ...mapGetters({
      products: "getProducts",
    }),
  },
  methods: {
    ...mapMutations({
      setPriceRange: "setPriceRange",
    }),
    calculatePriceRange() {
      this.products.forEach((product) => {
        if (this.priceRange.min == 0) {
          this.priceRange.min = +product.price;
          this.priceRange.max = +product.price;
        }
        if (+product.price < this.priceRange.min)
          this.priceRange.min = +product.price;
        if (+product.price > this.priceRange.max)
          this.priceRange.max = +product.price;
      });

      this.price = this.priceRange.max;
    },
  },
  watch: {
    price(newPrice) {
      this.setPriceRange(newPrice);
      filterProducts();
    },
  },
  created() {
    this.calculatePriceRange();
  },
};
</script>
<style scoped>
.slider-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: rgb(70, 68, 68);
}
input {
  cursor: pointer;
}
</style>
