<template>
  <div class="notification-wrapper">
    <h5 class="notification-text">{{ text }}</h5>
  </div>
</template>
<script>
export default {
  name: "NotificationComponent",
  props: {
    text: String,
  },
};
</script>
<style scoped>
.notification-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
  right: 100px;
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid rgb(55, 114, 255);
  border-radius: 10px;
}
</style>
