<template>
  <div class="stake-dropdown" v-click-outside="closeDropdown">
    <div
      class="dropdown-title"
      @click="toggleDropdown"
      :class="{ opened: showDropdown }"
    >
      <p>Stake</p>
    </div>
    <div class="dropdown" v-if="showDropdown">
      <ul class="dropdown-content">
        <li class="dropdown-item">
          <router-link :to="{ name: 'spell' }" @click="closeDropdown"
            >SPELL</router-link
          >
        </li>
        <li class="dropdown-item">
          <router-link :to="{ name: 'ape' }" @click="closeDropdown"
            >APE</router-link
          >
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "StakeDropdown",
  props: {
    type: String,
  },
  data() {
    return {
      showDropdown: false,
    };
  },
  emits: ["disconnect"],
  methods: {
    toggleDropdown() {
      this.showDropdown = !this.showDropdown;
    },
    closeDropdown() {
      this.showDropdown = false;
    },
  },
};
</script>
<style scoped>
.stake-dropdown {
  position: relative;
}

.dropdown {
  position: absolute;
  z-index: 1;
  top: 1.3rem;
  padding: 1.75rem 1rem 0.25rem 1rem;
  width: 7.15rem;
  border: 1px solid rgb(230, 232, 236);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: none;
  background-color: white;
  text-align: center;
}
.dropdown-title {
  position: relative;
  cursor: pointer;
  width: 7.125rem;
  text-align: center;
}
.opened {
  padding: 0.75rem 1rem 0.75rem 1rem;
  border: 1px solid rgb(230, 232, 236);
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #037db5;
  z-index: 4;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-item {
  padding: 0 1rem;
  margin: 0.25rem auto;
  border: 2px solid transparent;
  border-radius: 90px;
  background-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.5s;
}

.dropdown-item:hover {
  color: blue;
}
</style>
