<template>
  <div id="app">
    <TheHeader />
    <router-view></router-view>
    <TheFooter />
  </div>
</template>

<script>
import { defineAsyncComponent } from "vue";
import store from "./store";

export default {
  components: {
    TheHeader: defineAsyncComponent(() =>
      import("@/components/app/TheHeader.vue")
    ),
    TheFooter: defineAsyncComponent(() =>
      import("@/components/app/TheFooter.vue")
    ),
  },
  created() {
    store.dispatch("fetchProductsInfo");
  },
};
</script>

<style>
@import url("@/assets/commonStyles/reset.css");

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(35, 38, 47);
}

a.router-link-exact-active {
  color: #037db5;
}
</style>
