<template>
  <div class="card">
    <p style="text-align: center">{{ cardInfo.pullPercent }}</p>
    <img :src="cardInfo.images" alt="image" />
    <div class="card-info">
      <div class="token-info">
        <p>Token0: {{ cardInfo.token0.symbol }}</p>
        <p>Adress: {{ cardInfo.token0.adress }}</p>
      </div>
      <div class="token-info">
        <p>Token0: {{ cardInfo.token1.symbol }}</p>
        <p>Adress: {{ cardInfo.token1.adress }}</p>
      </div>
    </div>
    <router-link :to="{ name: 'poolW3', params: { id: cardInfo.id } }">
      <CommonButton title="Join" type="secondary" />
    </router-link>
  </div>
</template>

<script lang="js">
import { defineAsyncComponent } from 'vue';

export default ({
  props:{cardInfo:Object},
  components: {
    CommonButton: defineAsyncComponent(() => import("@/components/common/CommonButton.vue"))
  }
})
</script>

<style scoped>
p {
  margin: 0;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 1rem;
  border: 2px solid rgb(133, 131, 131);
  box-shadow: 1px 1px 5px gray;
}

img {
  width: 40%;
  align-self: center;
}

.token-info {
  text-align: start;
  margin: 0.5rem 0 0.25rem 0;
}
</style>
